mixin panel
    .panel
        .panel__wrapper-input min
            input(class='panel__min' type='number')
        .panel__wrapper-input max
            input(class='panel__max' type='number')
        .panel__wrapper-input value1
            input(class='panel__value_first' type='number')
        .panel__wrapper-input value2
            input(class='panel__value_second' type='number')
        .panel__wrapper-input disable values
            input(class='panel__values-runners' type='checkbox')
        .panel__wrapper-input change view
            input(class='panel__vertical' type='checkbox')
        .panel__wrapper-input one toggle
            input(class='panel__one-runner' type='checkbox')
        .panel__wrapper-input step
            input(class='panel__step' type='number')