.panel {
    display: flex;
    margin-bottom: 2rem;
    width: 60rem;
    &__min, &__max, &__value_first, &__value_second, &__step {
        width: 4rem;
        height: 1.5rem;
        font-size: 0.9rem;
        margin-left: 0.125rem;
        margin-right: 0.5rem;
    }
    &__values-runners, &__vertical, &__one-runner {
        height: 1rem;
        width: 1rem;
        font-size: 0.5rem;
        margin-left: 0.125rem;
        margin-right: 0.5rem;
    }
    &__wrapper-input {
        display: flex;
        align-items: center;
    }
    &__value_white {
        color: white;
    }
    &__vertical-reverse {
        transform: vertical(-90deg);
    }
}

