body {
    margin: 0;
    padding: 0;
    height: 100vh;
  
}
* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.slider {
    display: flex;
    align-items: center;
    font-size: 10px;
}
.slider__range {
    position: relative;
    width: 266px;
    height: 40px;
    display: flex;
    align-items: center;
}
.slider_first, .slider_second {
    position: absolute;
    width: 266px;
    -webkit-appearance: none;
    height: 6px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
    outline: none;
    margin: 0;
}
.slider_first::-webkit-slider-thumb, .slider_second::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid white;
    z-index: 100;
}
.slider__num_first, .slider__num_second {
    font-size: 10px;
    top: -40px;
    position: absolute;
}
.slider__between {
    position: absolute;
    margin-left: 83px;
    width: 85px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    height: 6px;
}
.slider__begin, .slider__end {
    position: absolute;
    font-size: 8px;
    bottom: 0;
}
.slider__end {
    right: 0;
}
.slider_hide {
    opacity: 0;
}
.slider__panel {
    width: 250px;
    margin-right: 50px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 15px;
}
.slider__min, .slider__max, .slider__value1, .slider__value2, .slider__runner_first, .slider__runner_second, .slider__inputNum_first, .slider__inputNum_second, .slider__rotate, .slider__step_first, .slider__step_second {
    width: 70px;
    left: 150px;
    position: absolute;
    height: 12px;
    font-size: 8px;
}
.slider__runner_first, .slider__runner_second, .slider__inputNum_first, .slider__inputNum_second, .slider__rotate {
    height: 8px;
}
.slider_white {
    color: white;
}
.slider_vertical {
    transform: rotate(90deg);
    margin-bottom: 70px;
}
.slider__rotateReverse {
    transform: rotate(-90deg)
}