.slider {
    position: relative;
    height: 1.75rem;
    display: flex;
    align-items: center;
    &_vertical {
        height: 16.625rem;
    }
    &__scale {
        position: relative;
        background: lightgray;
        border-radius: 0.375rem;
        width: 49.875rem;
        height: 0.75rem;
        display: flex;
        &_vertical {
            height: 16.625rem;
            width: 0.75rem;
        }
        
    }
    &__ball {
        &_first, &_second {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            border: 0.125rem solid white;
            display: flex;
            justify-content: center;

        }
        &_hide {
            opacity: 0;
        }
    }
    
    &__num {
        &_first, &_second {
            font-size: 1rem;
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            position: absolute;
            top: -2rem;
            color: white;
            border-radius: 0.6rem;
            padding: 0.2rem;
        }
        &_vertical {
            top: 0;
            left: 2rem;
        }
        &_hide {
            opacity: 0;
        }
        
    }
    &__between {
        position: absolute;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 0.375rem;
        height: 0.75rem;
    }
    &__begin, &__end {
        position: absolute;
        font-size: 1rem;
        top: 1.5rem;
        transform: translateX(-50%);
        &_vertical {
            top: -2rem;
            transform: translateX(0%);
        }
    }
    &__end {
        right: 0;
        transform: translateX(50%);
        &_vertical {
            margin-top: 19.5rem;
            transform: translateX(-50%);
            right: -2rem;
        }
    }
    &_hide {
        opacity: 0;
    }
}