mixin slider__range
    .slider__range
        input(class='slider_first' type='range')
        input(class='slider_second' type='range')
        .slider__between
        .slider__begin
        .slider__end
        .slider__num_first
        .slider__num_second



