mixin slider__range
    .slider__range
        .slider__scale
            .slider__between
            .slider__begin
            .slider__end
        .slider__ball_first
            .slider__num_first
        .slider__ball_second
            .slider__num_second
        
        
        



