* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.container {
    margin: 10rem 0 0 25rem;
    &__slider {
        margin: 3.5rem 0;
    }
}
.wrapper {
    &__slider {
        margin-bottom: 2rem;
    }
}