include ../panel/panel
include ../../slider/slider

mixin wrapper (id = '', options)
    - options = options || {valueFirst: 5000, valueSecond: 15000, min: 0, max: 25000, step: 50, disableValues: false, vertical: false, oneRunner: false}
    .wrapper(id= id data-options=options)
        .wrapper__slider
            +slider
        +panel
        