mixin slider__panel
    .slider__panel
        .slider__wrapper-input min
            input(class='slider__min' type='number')
        .slider__wrapper-input max
            input(class='slider__max' type='number')
        .slider__wrapper-input value1
            input(class='slider__value_first' type='number')
        .slider__wrapper-input value2
            input(class='slider__value_second' type='number')
        .slider__wrapper-input disable values
            input(class='slider__values-runners' type='checkbox')
        .slider__wrapper-input change view
            input(class='slider__vertical' type='checkbox')
        .slider__wrapper-input one toggle
            input(class='slider__one-runner' type='checkbox')
        .slider__wrapper-input step
            input(class='slider__step' type='number')