mixin slider__panel
    .slider__panel
        label.slider__label min
            input(class='slider__min' type='number')
        label.slider__label max
            input(class='slider__max' type='number')
        label.slider__label value1
            input(class='slider__value_first' type='number')
        label.slider__label value2
            input(class='slider__value_second' type='number')
        label.slider__label disable values
            input(class='slider__valuesRunners' type='checkbox')
        label.slider__label change view
            input(class='slider__rotate' type='checkbox')
        label.slider__label step
            input(class='slider__step' type='number')