include ./components/slider/slider

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        meta(name="keywords" content='Cards')
        meta(name="description" content='Cards')
        link(rel="icon" href="favicon.ico")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        title Range Slider
    body
        +slider  
        +slider('66', {value1: '6000', value2: '57777', min: '2000', max: '60000', step: '20', disableValues: false, vertical: false, oneRunner: false})
        +slider('5', {value1: '16000', value2: '357777', min: '8000', max: '600000', step: '20000', disableValues: false, vertical: false, oneRunner: false})
            
