include ../slider__panel/slider__panel
include ../slider__range/slider__range

mixin slider(options = {value1: '5000', value2: '15000', min: '0', max: '25000', step: '50', disableValues: false, vertical: false, oneRunner: false})
    .slider(data-options=options)
        +slider__range
        +slider__panel
        