body {
    padding: 6rem;
}
* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.slider {
    font-size: 1rem;
    margin: 3.125rem;
    width: 51.5rem;
    margin: 5rem auto;
}